BORMC/3.0/Order/getOrderDetailsC/getOrderDetailsC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="REQUEST">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CUSTOMER_ID" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Customer identifier used to scope order search. Maps to bill-to or placing customer in source systems. Example: 12345678.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ORDER_ID" type="xs:string" minOccurs="1">
					<xs:annotation>
						<xs:documentation>The Transaction ID or Receipt ID from an order.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="REQUEST_DATE" type="xs:dateTime" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Timestamp when the request was generated by the caller. Used for auditing; not required for filtering. ISO 8601. Example: 2025-11-01T18:05:00Z.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SYSTEM_REFERENCE" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Name of external system used to identify the customer/reference (e.g., ATG_CUST_ID, PRETAIL_ID).</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SYSTEM_REFERENCE_ID" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>ID value for SYSTEM_REFERENCE. Example: ATG customer number or loyalty ID.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FROM_DATE" type="xs:date" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
            Lower bound (inclusive) for order date filtering. 
            Format: YYYY-MM-DD (ISO 8601 date). Example: 2025-10-01. 
            If only a single known transaction exists, FROM_DATE and THRU_DATE should be the same.
        </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="THRU_DATE" type="xs:date" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
            Upper bound (inclusive) for order date filtering. 
            Format: YYYY-MM-DD (ISO 8601 date). Example: 2025-10-31. 
            If only a single known transaction exists, FROM_DATE and THRU_DATE should be the same.
        </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RECORD_LIMIT" type="xs:int" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Max number of orders to return. If omitted or invalid, the service defaults to 25.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="STORE_ID" type="xs:string" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Store identifier to constrain the search (maps to productStore/storeNumber). The store that the order took place at.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="REGISTER_NUMBER" type="xs:string" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Register or till number to constrain the search. The register or till that the order took place at.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PRODUCTS" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Container for product filters. Include one or more PRODUCT_ID elements to restrict results to orders containing those SKUs/products.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PRODUCT_ID" type="xs:string" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A product identifier to filter by (SKU or productId as stored). Repeat for multiple products.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>